div.row.section
    div.col
        div.btn-group(role="group", aria-label="Basic example")
            a.btn.btn-primary.btn-lg(href="/mexican" role="button") Mexican
            a.btn.btn-primary.btn-lg(href="/american" role="button") American
            a.btn.btn-primary.btn-lg(href="/asian" role="button") Asian
            a.btn.btn-primary.btn-lg(href="/italian" role="button") Italian
