div.row.section
    div.col
        div.btn-group(role="group", aria-label="Basic example")
            a.btn.btn-primary.btn-lg(href="/search/mexican" role="button") Mexican
            a.btn.btn-primary.btn-lg(href="/search/american" role="button") American
            a.btn.btn-primary.btn-lg(href="/search/asian" role="button") Asian
            a.btn.btn-primary.btn-lg(href="/search/italian" role="button") Italian
