div.row.section
    div.col
        div.btn-group(role="group", aria-label="Basic example")
            a.btn.btn-primary.btn-lg(href="#" role="button") Search
            a.btn.btn-primary.btn-lg(href="#" role="button") Pizza
            a.btn.btn-primary.btn-lg(href="#" role="button") Burgers
            a.btn.btn-primary.btn-lg(href="#" role="button") Tacos
