.row.section#search
    .col-12
        form(method="post")
            .form-group.m-0
                input.form-control.form-control-lg#address_or_location(
                    name="query",
                    type="text",
                    placeholder="Address or location",
                    value=venues.query
                    )
