.row.section#sort
    .col-2.pr-1
        p.m-0(style="line-height: 48px;") Sort:
    .col-3.pr-1
        a.btn.btn-primary.btn-lg(href="#" role="button") Rating
    .col-4.pl-1.pr-1
        a.btn.btn-primary.btn-lg(href="#" role="button") Distance
    .col-3.pl-1
        a.btn.btn-primary.btn-lg(href="#" role="button") Price
