extends components/layout

block content

  include includes/filter
  include ./includes/search
  include ./includes/sort

  each venue in venues
    a(href="venues/" + venue.venue.id)
      .card.mb-2: .card-body
        h4 #{venue.venue.name}
        p #{venue.venue.location.formattedAddress[0]}
